<div class="wrapper">
  <app-head-text>
    <span left>入库编辑</span>
  </app-head-text>

  <div class="body-add">
    <form nz-form class="body">
      <nz-form-item>
        <i>*</i>
        <nz-form-label nzFor="email">产品分类</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="manual.productCode"
            nzAllowClear
            nzPlaceHolder="请选择产品分类"
            nzShowSearch
            name="Type "
          >
            <nz-option-group
              [nzLabel]="item.itemName"
              *ngFor="let item of productTypeList; index as i"
            >
              <nz-option
                *ngFor="let subItem of item.children"
                [nzValue]="subItem.itemCode"
                [nzLabel]="subItem.itemName"
              ></nz-option>
            </nz-option-group>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <i>*</i>
        <nz-form-label nzFor="email">产品名称</nz-form-label>
        <nz-form-control>
          <nz-select
            [(ngModel)]="manual.id"
            name="name"
            (ngModelChange)="getProduct($event)"
          >
            <nz-option
              *ngFor="let item of manualList; index as i"
              [nzValue]="item.id"
              [nzLabel]="item.manualSerie! + item.manualName"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <i>*</i>
        <nz-form-label nzFor="email">产品序列号</nz-form-label>
        <nz-form-control>
          <nz-form-control>
            <input
              nz-input
              placeholder="请输入产品序列号"
              [(ngModel)]="product.serialNumber"
              name="serialNumber"
            />
          </nz-form-control>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <i>*</i>
        <nz-form-label nzFor="email">生产日期</nz-form-label>
        <nz-form-control>
          <nz-date-picker
            [(ngModel)]="product.productDate"
            name="Date"
          ></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <i>*</i>
        <nz-form-label nzFor="email">产品型号</nz-form-label>
        <nz-form-control>
          <button
            nz-button
            (click)="modelClick(model)"
            [nzType]="isModelSelected(model) ? 'primary' : 'default'"
            [nzGhost]="isModelSelected(model)"
            *ngFor="let model of manual.modelList; index as indx"
          >
            {{ model.modelName }}
          </button>
        </nz-form-control>
      </nz-form-item>
      <!-- <nz-form-item>
        <i>*</i>
        <nz-form-label nzFor="email">颜色</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="default">白</button>
          <button nz-button nzType="default">红</button>
          <button nz-button nzType="default">绿</button>
          <button nz-button nzType="default">黄</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <i>*</i>
        <nz-form-label nzFor="email">遥测遥控方式</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="default">GPRS</button>
          <button nz-button nzType="default">CDMA</button>
          <button nz-button nzType="default">北斗卫星</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <i>*</i>
        <nz-form-label nzFor="email">遥测遥控方式</nz-form-label>
        <nz-form-control>
          <button nz-button nzType="default">GPRS</button>
          <button nz-button nzType="default">CDMA</button>
          <button nz-button nzType="default">北斗卫星</button>
        </nz-form-control>
      </nz-form-item> -->

      <!-- 公共配置 -->
      <nz-form-item *ngFor="let config of manual.configList; index as idx">
        <i>*</i>
        <nz-form-label nzFor="email">{{ config.name }}</nz-form-label>
        <nz-form-control>
          <button
            *ngFor="let configvalue of config.configvalueList; index as indx"
            nz-button
            nzType="default"
            (click)="btnClick(configvalue, idx, indx)"
            [ngStyle]="{
              border: configvalue.dynamic
                ? '1px solid #108ee9'
                : '1px solid #d9d9d9'
            }"
          >
            {{ configvalue.value }}
          </button>
        </nz-form-control>
      </nz-form-item>
      <!-- 每个型号独有的配置项 -->
      <nz-form-item *ngFor="let config of computedConValList; index as idx">
        <i>*</i>
        <nz-form-label nzFor="email">{{ config.name }}</nz-form-label>
        <nz-form-control>
          <button
            *ngFor="let configvalue of config.configvalueList; index as indx"
            nz-button
            nzType="default"
            [disabled]="!isConValSelected(configvalue)"
            (click)="btnClick2(configvalue, idx, indx)"
            [ngStyle]="{
              border: configvalue.dynamic
                ? '1px solid #108ee9'
                : '1px solid #d9d9d9'
            }"
          >
            {{ configvalue.value }}
          </button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <i>*</i>

        <nz-form-label nzFor="email">产品图片</nz-form-label>
        <nz-form-control *ngFor="let img of imgList">
          <img [src]="img.filePath + '/' + img.storeName" alt="" />
        </nz-form-control>
      </nz-form-item>
    </form>

    <div class="specs-wrapper">
      <p>使用说明书：</p>
      <div class="specs"></div>
    </div>

    <div class="button-list">
      <button nz-button nzType="primary" (click)="delete()">删除</button>
      <button nz-button nzType="primary" (click)="save()">保存</button>
    </div>
  </div>
</div>
