/* You can add global styles to this file, and also import other style files */
/* @import "~ng-zorro-antd/ng-zorro-antd.dark.css"; */
/* @import "~ng-zorro-antd/ng-zorro-antd.css"; */
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  width: 100%;
  margin: 0 auto;
  font-size: 10px;
  background-color: rgb(241, 244, 245);
}
html {
  position: relative;
  background-color: rgb(241, 244, 245);
}
